@import 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #c5e4e7;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

.btn {
  border-radius: 5px;
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #26c2ae;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #00474b;
  transition: all 0.3s;
  border: 0;
  cursor: pointer;

  &:hover {
    background: #9fe8df;
    color: #26c2ae;
  }
}
